.header {
	font-size: large;
	background: #BCCE98;
	text-align: center;
	font-size: 14pt;
}

.container {
	padding: 50px;
	padding-left: 20%;
	padding-right: 100px;
}

.h3 {
	padding: 20px;
	font-style: bold;
	font-size: 16pt;
}

input {
	width: 60%;
	outline: bold;
}

.inputgroup {
	position: relative;
	margin-bottom: 22px;
}
p {
	font-size: 10pt;
}

.select {
	width: 41%;
}

.btn {
	line-height: 20px;
	padding: 0 10px;
	background: #BCCE98;
	cursor: pointer;
}